In [1]:
import pandas as pd
import numpy as np

In [2]:
cd Documents/Budget-Pages

/Users/jdw686/Documents/Budget-Pages

### 1. Preparing the data manipulation for the department pages for the City's General Fund

In [3]:
budget_pages = pd.read_csv('department pages.csv')

In [4]:
budget_pages.columns

Index(['a_account_type', 'a_fund_seg1', 'master_object', 'master_project',
       'master_org', 'account_name', 'department', 'division', 'cy_revised',
       'ly_actual', 'ly_actual_closed', 'ly2_actual', 'object_name',
       'character_code', 'character_code_name', 'org_name', 'default_year',
       'default_period', 'munis_year', 'munis_period', 'fund_name',
       'dept_name', 'division_name', 'budget_projection_used', 'budget_org',
       'budget_object', 'budget_project', 'ny_budget_prelim',
       'ny_budget_adopted', 'ny2_budget_prelim', 'ny2_budget_adopted'],
      dtype='object')

In [5]:
#Choose the columns needed
budget_pages = budget_pages[['a_account_type', 'a_fund_seg1', 'master_object', 'master_project',
       'master_org', 'account_name', 'department', 'division', 'cy_revised',
       'ly_actual', 'ly_actual_closed', 'ly2_actual',
       'character_code', 'character_code_name', 'org_name', 'munis_year', 'fund_name',
       'dept_name', 'division_name',
       'ny_budget_adopted', 'ny2_budget_adopted']]

In [7]:
#Rename the columns, the names above are the default names in the sql database of the City's financial system
budget_pages.columns = ['Account Type', 'Fund Number', 'Account Number', 'Project Number',
       'Organization Number', 'Account Name', 'Department Number', 'Division Number', 
                        '2018 Revised Budget',
      '2017 Actual', '2017 Actual Closed', 
                        '2016 Actual',
       'Character Code', 'Character Code Name', 'Organization Name', 'munis_year', 'Fund Name',
       'Department Name', 'Division Name',
       '2019 Adopted Budget', '2020 Adopted Budget']

In [8]:
#Rearrange the columns. It is important to have the budgeted and actual numbers on the right side
#But, this can and should be done through the SQL Query
budget_pages = budget_pages[['Account Type', 'Fund Number', 'Fund Name', 'Department Number', 'Department Name', 
                            'Division Number', 'Division Name', 'Character Code', 'Character Code Name', 
                             'Organization Number', 'Organization Name', 
                            'Account Number', 'Account Name', '2016 Actual', '2017 Actual', '2018 Revised Budget', 
                            '2019 Adopted Budget', '2020 Adopted Budget']]

In [ ]:
# budget_page_summary will be used in a further update to replace all of the individual accounts in salaries and personnel benefits with a summary line

# budget_page_summary = budget_pages[(budget_pages['Department Number'] == 5) & (budget_pages['Division Number'] == 8) & (budget_pages['Account Type'] == 'E')].groupby(
#     ['Character Code', 'Character Code Name']).sum().iloc[:, -5:]
# total_summary = budget_page_summary.apply(np.sum)
# total_summary['Character Code'] = ''
# total_summary['Character Code Name'] = 'TOTAL'
# budget_page_summary = budget_page_summary.reset_index().append(pd.DataFrame(total_summary.values, index=list(total_summary.keys())).T).fillna('').set_index(
#     ['Character Code', 'Character Code Name'])

# budget_page_summary.reset_index()

In [9]:
budget_page_detail = budget_pages[(budget_pages['Department Number'] == 5) & 
                                  (budget_pages['Division Number'] == 8) & 
                                  (budget_pages['Account Type'] == 'E')].groupby(
    ['Organization Number', 'Account Number', 'Account Name']).sum().iloc[:, -5:].reset_index().set_index('Organization Number', 'Account Number')
total_detail = budget_page_detail.apply(np.sum)
total_detail['Account Number'] = ''
total_detail['Account Name'] = 'Total'
budget_page_detail = budget_page_detail.reset_index().append(pd.DataFrame(total_detail.values, index=list(total_detail.keys())).T).fillna('').set_index(
    ['Organization Number', 'Account Number', 'Account Name'])

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [10]:
budget_page_detail.reset_index()

,Organization Number,Account Number,Account Name,2016 Actual,2017 Actual,2018 Revised Budget,2019 Adopted Budget,2020 Adopted Budget
0,851880,110000,Salaries and Wages,191724.17,224145.58,310300,336400,358900
1,851880,120000,Overtime,1262.13,561.72,0,0,0
2,851880,210000,Medicare,2799.02,3259.94,4500,4880,5200
3,851880,220000,Retirement,17887.61,26863.42,39405,43160,46040
4,851880,230000,Medical Insurance,20770.27,23537.57,46905,48585,50350
5,851880,231000,HSA Employee Benefit,0.00,1437.50,1500,1500,1500
6,851880,240000,Worker's Compensation,531.77,597.16,880,960,960
7,851880,250000,Unemployment,578.90,449.16,620,675,720
8,851880,270000,Social Security,11965.06,13628.67,19240,0,0
9,851880,271000,401a-Social Sec Replacement,0.00,0.00,0,20860,22250
10,851880,280000,Life Insurance,396.98,690.22,775,840,900
11,851880,280100,L-term Disability Insurance,0.00,274.41,0,1075,1140
12,851880,290000,Family& Medical Leave Tax,0.00,0.00,0,735,790
13,851880,310000,Office and Operating Supplies,2321.35,2271.85,2000,5500,5500
14,851880,313100,Computer Related Supplies,1387.03,3039.79,2000,0,0
15,851880,350000,Small Tools & Minor Equipment,11408.66,10357.59,20000,13700,13700
16,851880,410000,Professional Services,34004.93,3696.25,35000,24000,24000
17,851880,410400,Website,10443.01,18665.11,10000,10000,10000
18,851880,410700,Online Video Streaming,5018.78,3495.00,3000,4000,4000
19,851880,410750,Channel 21 Video Production,14496.08,19431.91,30000,45000,45000
20,851880,414100,Software Licensing Fees,68004.79,100859.59,139300,139440,213740
21,851880,424210,Telephone/Internet,9075.14,6893.24,15000,14300,14300
22,851880,424220,Postage,43.03,0.00,0,0,0
23,851880,434310,Lodging,0.00,565.74,0,0,0
24,851880,434320,Meals,264.00,48.00,0,0,0
25,851880,434330,Mileage,10.16,234.33,0,0,0
26,851880,434340,Other Travel,366.20,58.53,1000,2500,2500
27,851880,450000,Operating Rentals and Leases,26459.61,26529.24,30000,25000,25000
28,851880,480000,Repairs and Maintenance,762.67,409.96,2500,2500,2500
29,851880,494910,Memberships and Dues,75.00,75.00,0,250,250
30,851880,494930,Registration-Training/Workshop,1117.00,5447.40,7500,7500,7500
31,851880,494940,Subscriptions and Publications,0.00,0.00,0,0,0
32,851880,494950,Miscellaneous,0.00,3132.75,0,0,0
33,851880,640000,Machinery And Equipment,12461.57,0.00,500000,0,100000
34,,,Total,445634.92,500656.63,1221425,753360,956740

In [11]:
#this corresponds to the separate table in Adopted Budget document, detailing spending on professional contract services
#this may be added in the function at a future update
budget_page_prof_srvs = budget_pages[(budget_pages['Department Number'] == 5) & 
                                  (budget_pages['Division Number'] == 8) & 
                                  (budget_pages['Account Type'] == 'E') &
                                 (budget_pages['Account Number'] >= 410000) &
                                 (budget_pages['Account Number'] < 420000)].groupby(
    ['Organization Number', 'Account Number', 'Account Name']).sum().iloc[:, -5:]

In [12]:
total = budget_page_prof_srvs.apply(np.sum)
total['Account Name'] = 'Total'
budget_pages_prof_srvs = budget_page_prof_srvs.reset_index().append(pd.DataFrame(total.values, index=list(total.keys())).T).fillna('').set_index(
    ['Organization Number', 'Account Number', 'Account Name'])

In [14]:
budget_pages_prof_srvs.reset_index()

,Organization Number,Account Number,Account Name,2016 Actual,2017 Actual,2018 Revised Budget,2019 Adopted Budget,2020 Adopted Budget
0,851880,410000,Professional Services,34004.93,3696.25,35000.0,24000.0,24000.0
1,851880,410400,Website,10443.01,18665.11,10000.0,10000.0,10000.0
2,851880,410700,Online Video Streaming,5018.78,3495.00,3000.0,4000.0,4000.0
3,851880,410750,Channel 21 Video Production,14496.08,19431.91,30000.0,45000.0,45000.0
4,851880,414100,Software Licensing Fees,68004.79,100859.59,139300.0,139440.0,213740.0
5,,,Total,131967.59,146147.86,217300.0,222440.0,296740.0

### 2. Create the function

- this simply combines the budget_page_detail code into a function, where the parameters are defined in the function instead of directly in the code

In [15]:
def department_page(department, division, account_type = 'E'):
    budget_page_detail = budget_pages[(budget_pages['Department Number'] == department) & 
                                      (budget_pages['Division Number'] == division) & 
                                      (budget_pages['Account Type'] == account_type)]
    budget_page_detail = budget_page_detail.groupby(['Organization Number', 'Account Number', 'Account Name'])
    budget_page_detail = budget_page_detail.sum().iloc[:, -5:]
    budget_page_detail = budget_page_detail.reset_index().set_index('Organization Number', 'Account Number')
    total_row = budget_page_detail.apply(np.sum)
    total_row['Account Number'] = ''
    total_row['Account Name'] = 'Total'
    total_row = pd.DataFrame(total_row.values, index=list(total_row.keys())).T
    budget_page_detail = budget_page_detail.reset_index().append(total_row).fillna('').set_index(
        ['Organization Number', 'Account Number', 'Account Name'])
    budget_page_detail = budget_page_detail.reset_index()
    return budget_page_detail

In [16]:
test_page = department_page(1, 1)
test_page

,Organization Number,Account Number,Account Name,2016 Actual,2017 Actual,2018 Revised Budget,2019 Adopted Budget,2020 Adopted Budget
0,151160,110000,Salaries and Wages,52200.00,52200.00,52200,52200,52200
1,151160,210000,Medicare,756.96,756.96,760,760,760
2,151160,230000,Medical Insurance,0.00,0.00,0,0,0
3,151160,231000,HSA Employee Benefit,50400.00,54600.00,50400,50400,50400
4,151160,240000,Worker's Compensation,88.20,89.04,105,105,105
5,151160,250000,Unemployment,0.00,2.70,0,0,0
6,151160,270000,Social Security,3236.40,3236.40,3230,3230,3230
7,151160,280000,Life Insurance,0.00,0.00,0,0,0
8,151160,290000,Family& Medical Leave Tax,0.00,0.00,0,110,110
9,151160,310000,Office and Operating Supplies,47.10,397.12,500,200,200
10,151160,350000,Small Tools & Minor Equipment,12.59,0.00,0,700,700
11,151160,410000,Professional Services,1163.68,4462.00,8000,4500,4500
12,151160,411550,Advertising,495.00,0.00,0,0,0
13,151160,424210,Telephone/Internet,2840.24,3047.20,0,3200,3200
14,151160,424220,Postage,0.00,0.00,0,0,0
15,151160,434310,Lodging,1232.04,2321.67,4000,0,0
16,151160,434320,Meals,271.00,239.00,0,0,0
17,151160,434330,Mileage,97.20,358.46,0,0,0
18,151160,434340,Other Travel,585.04,1234.94,10000,10000,10000
19,151160,450000,Operating Rentals and Leases,0.00,0.00,0,0,0
20,151160,480000,Repairs and Maintenance,1527.53,261.32,5000,600,600
21,151160,494910,Memberships and Dues,110963.46,118009.00,124500,127300,131300
22,151160,494920,Printing/Binding/Copying,98.56,49.28,200,200,200
23,151160,494930,Registration-Training/Workshop,2085.25,4788.68,4000,5000,5000
24,151160,494940,Subscriptions and Publications,0.00,0.00,0,0,0
25,151160,494950,Miscellaneous,2112.13,4151.51,1000,0,0
26,151160,494960,Celebration,1280.01,2032.51,1500,1500,1500
27,151160,640000,Machinery And Equipment,0.00,0.00,0,0,0
28,,,Total,231492.39,252237.79,265395,260005,264005